<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Storepickup>
            <version>0.4.3</version>
        </Magestore_Storepickup>
    </modules>
    <frontend>
        <routers>
            <storepickup>
                <use>standard</use>
                <args>
                    <module>Magestore_Storepickup</module>
                    <frontName>storepickup</frontName>
                </args>
            </storepickup>
        </routers>
        <layout>
            <updates>
                <storepickup>
                    <file>storepickup.xml</file>
                </storepickup>
            </updates>
        </layout>
        <events>
            <!-- for IDEV One Step Checkout -->
            <controller_action_predispatch_onestepcheckout_ajax_set_methods_separate>
                <observers>
                    <onestepcheckout_ajax_set_methods_separate>
                        <type>singleton</type>
                        <class>storepickup/observer</class>
                        <method>onestepcheckout_index_save_shipping</method>
                    </onestepcheckout_ajax_set_methods_separate>
                </observers>
            </controller_action_predispatch_onestepcheckout_ajax_set_methods_separate>
            <!-- for Gomage Light Checkout -->
            <gomage_checkout_save_quote_before>
                <observers>
                    <gomage_checkout>
                        <type>singleton</type>
                        <class>storepickup/observer</class>
                        <method>update_shippingaddress_gomage</method>
                    </gomage_checkout>
                </observers>
            </gomage_checkout_save_quote_before>
            <controller_action_predispatch_gomage_checkout_onepage_ajax>
                <observers>
                    <gomage_checkout_onepage_ajax>
                        <type>singleton</type>
                        <class>storepickup/observer</class>
                        <method>gomage_checkout_save_shipping</method>
                    </gomage_checkout_onepage_ajax>
                </observers>
            </controller_action_predispatch_gomage_checkout_onepage_ajax>
            <!-- for Magestore_Onestepcheckout -->
            <controller_action_predispatch_onestepcheckout_index_save_shipping>
                <observers>
                    <magestore_onestepcheckout_save_shipping>
                        <type>singleton</type>
                        <class>storepickup/observer</class>
                        <method>onestepcheckout_index_save_shipping</method>
                    </magestore_onestepcheckout_save_shipping>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_save_shipping>
<!--            <sales_order_save_after>
                <observers>
                    <magestore_storepickup_observer>
                        <type>singleton</type>
                        <class>storepickup/observer</class>
                        <method>checkout_type_onepage_save_order_after</method>
                    </magestore_storepickup_observer>
                </observers>
            </sales_order_save_after>-->
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <magestore_storepickup_observer>
                        <type>singleton</type>
                        <class>storepickup/observer</class>
                        <method>update_shippingaddress</method>
                    </magestore_storepickup_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <magestore_storepickup_observer>
                        <type>singleton</type>
                        <class>storepickup/observer</class>
                        <method>unset_session_storepickup_shipping_price</method>
                    </magestore_storepickup_observer>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
            <controller_action_predispatch_checkout_onepage_saveShipping>
                <observers>
                    <magestore_storepickup_observer>
                        <type>singleton</type>
                        <class>storepickup/observer</class>
                        <method>unset_session_storepickup_shipping_price</method>
                    </magestore_storepickup_observer>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShipping>
            <sales_order_place_after>
                <observers>
                    <magestore_storepickup_observer>
                        <type>singleton</type>
                        <class>storepickup/observer</class>
                        <method>checkout_type_onepage_save_order_after</method>
                    </magestore_storepickup_observer>
                </observers>
            </sales_order_place_after>
        </events>
        <translate>
            <modules>
                <Magestore_Storepickup>
                    <files>
                        <default>Magestore_Storepickup.csv</default>
                    </files>
                </Magestore_Storepickup>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml> 
                <args> 
                    <modules> 
                        <Magestore_Storepickup after="Mage_Adminhtml">Magestore_Storepickup_Adminhtml</Magestore_Storepickup>
                    </modules> 
                </args> 
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <storepickup>
                    <file>storepickup.xml</file>
                </storepickup>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Storepickup>
                    <files>
                        <default>Magestore_Storepickup.csv</default>
                    </files>
                </Magestore_Storepickup>
            </modules>
        </translate>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <storepickup_sales_order_save_before>
                        <type>singleton</type>
                        <class>storepickup/observer</class>
                        <method>adminhtml_sales_order_save_before</method>
                    </storepickup_sales_order_save_before>
                </observers>
            </checkout_submit_all_after>
            <sales_convert_order_to_quote>
                <observers>
                    <storepickup_sales_convert_order_to_quote>
                        <type>singleton</type>
                        <class>storepickup/observer</class>
                        <method>storepickup_sales_convert_order_to_quote</method>
                    </storepickup_sales_convert_order_to_quote>
                </observers>
            </sales_convert_order_to_quote>

            <sales_order_save_after>
                <observers>
                    <storepickup_sales_order_save_after>
                        <type>singleton</type>
                        <class>storepickup/observer</class>
                        <method>saleOrderAfter</method>
                    </storepickup_sales_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>
    </adminhtml>
    <global>
        <models>
            <storepickup>
                <class>Magestore_Storepickup_Model</class>
                <resourceModel>storepickup_mysql4</resourceModel>
            </storepickup>
            <adminhtml>
                <rewrite>
                    <sales_order_create>Magestore_Storepickup_Model_Order</sales_order_create>
                </rewrite>
            </adminhtml>
            <storepickup_mysql4>
                <class>Magestore_Storepickup_Model_Mysql4</class>
                <entities>
                    <store>
                        <table>storepickup_store</table>
                    </store>
                    <tag>
                        <table>storepickup_tag</table>
                    </tag>
                    <holiday>
                        <table>storepickup_holiday</table>
                    </holiday>

                    <location>
                        <table>storepickup_location</table>
                    </location>

                    <region>
                        <table>directory_country_region</table>
                    </region>

                    <storeorder>
                        <table>storepickup_order</table>
                    </storeorder>
                    <message>
                        <table>storepickup_message</table>
                    </message>
                    <image>
                        <table>storepickup_image</table>
                    </image>
                    <value>
                        <table>storepickup_store_value</table>
                    </value>
                    <specialday>
                        <table>storepickup_specialday</table>
                    </specialday>
                </entities>
            </storepickup_mysql4>
            <sales>
                <rewrite>
                    <order_pdf_invoice>Magestore_Storepickup_Model_Order_Pdf_Abstract</order_pdf_invoice>
                </rewrite>
                <rewrite>
                    <order_pdf_creditmemo>Magestore_Storepickup_Model_Order_Pdf_Abstract</order_pdf_creditmemo>
                </rewrite>
                <rewrite>
                    <order_pdf_shipment>Magestore_Storepickup_Model_Order_Pdf_Shipment</order_pdf_shipment>
                    <order_pdf_items_shipment_default>Magestore_Storepickup_Model_Order_Pdf_Items_Shipment</order_pdf_items_shipment_default>
                </rewrite>
            </sales>
        </models>
        <resources>
            <storepickup_setup>
                <setup>
                    <module>Magestore_Storepickup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storepickup_setup>
            <storepickup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storepickup_write>
            <storepickup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storepickup_read>
        </resources>
        <blocks>
            <storepickup>
                <class>Magestore_Storepickup_Block</class>
            </storepickup>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>Magestore_Storepickup_Block_Rewrite_CheckoutOnepagePaymentMethods</onepage_payment_methods>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_create_shipping_method_form>Magestore_Storepickup_Block_Adminhtml_Sales_Order_Create_Shipping_Method_Form</sales_order_create_shipping_method_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <storepickup>
                <class>Magestore_Storepickup_Helper</class>
            </storepickup>
            <core>
                <rewrite>
                    <data>Magestore_Storepickup_Helper_Core_Abstract</data>
                </rewrite>
            </core>
        </helpers>
        <template>
            <email>
                <carriers_storepickup_storeowner_email_template translate="label" module="storepickup">
                    <label>Email to store owner</label>
                    <file>storepickup/pickuplocation.html</file>
                    <type>html</type>
                </carriers_storepickup_storeowner_email_template>
                <carriers_storepickup_shopadmin_email_template translate="label" module="storepickup">
                    <label>Email to web-shop admin</label>
                    <file>storepickup/delivery.html</file>
                    <type>html</type>
                </carriers_storepickup_shopadmin_email_template>

                <carriers_storepickup_storeowner_email_customer translate="label" module="storepickup">
                    <label>Email to store owner and web-shopadmin</label>
                    <file>storepickup/customer.html</file>
                    <type>html</type>
                </carriers_storepickup_storeowner_email_customer>

                <carriers_storepickup_storeowner_email_change_status translate="label" module="storepickup">
                    <label>Email to store owner </label>
                    <file>storepickup/statusorder.html</file>
                    <type>html</type>
                </carriers_storepickup_storeowner_email_change_status>
            </email>
        </template>
        <sales>
            <quote>
                <totals>
                    <storepickup>
                        <class>storepickup/sales_quote_address_total_storepickup</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                    </storepickup>
                </totals>
            </quote>

<!--            <order>
            <statuses>
                <store_pickup11 translate="label"><label>Credit card Payment</label></store_pickup11>
            </statuses>
            <states>
                <new>
                    <statuses>
                        <store_pickup11 default="0"/>
                    </statuses>
                </new>
            </states>
            </order>-->
        </sales>

    </global>
    <default>
        <carriers>
            <storepickup>
                <active>1</active>
                <handling>0</handling>
                <model>storepickup/shipping_storepickup</model>
                <title>StorePickup</title>
                <shipping_method_title>Best Way</shipping_method_title>
                <interval_time>30</interval_time>
                <display_allstores>2</display_allstores>
                <search_country>1</search_country>
                <search_state>1</search_state>
                <search_city>1</search_city>
                <search_name>1</search_name>
                <time_format>24</time_format>
                <store_map>2</store_map>
                <map_size>600*400</map_size>
                <display_timedate>1</display_timedate>
                <guide_text>Please select date and time for receive products</guide_text>
                <holiday_nonce>Holiday</holiday_nonce>
                <early_date_nonce>Very early shipping date</early_date_nonce>
                <store_not_found_nonce>Store Not Found</store_not_found_nonce>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <storeowner_email_template>carriers_storepickup_storeowner_email_template</storeowner_email_template>
                <shopadmin_email_template>carriers_storepickup_shopadmin_email_template</shopadmin_email_template>
                <storeowner_email_customer>carriers_storepickup_storeowner_email_customer</storeowner_email_customer>
                <storeowner_email_change_status>carriers_storepickup_storeowner_email_change_status</storeowner_email_change_status>
                <handling_type>F</handling_type>
                <handling_action>O</handling_action>
                <sallowspecific_payment>0</sallowspecific_payment>
                <specificpayment></specificpayment>
                <num_top_store>5</num_top_store>
                <active_gapi>1</active_gapi>
                <gkey></gkey>
                <storedefault>0</storedefault>
                <storezoom>12</storezoom>
                <carriers_storepickup_display_selectbox>3</carriers_storepickup_display_selectbox>
                <systemunit>km</systemunit>
                <searchby>country_name,state,city,store_name,zipcode</searchby>
                <unit_measurement>0,1</unit_measurement>
                <search_tabs>0,1</search_tabs>
                <maxradius>1000</maxradius>
            </storepickup>
        </carriers>

    </default>
    <!--websites>
            <admin>
                    <dev>
                            <debug>
                                    <template_hints>1</template_hints>
                                    <template_hints_blocks>1</template_hints_blocks>
                            </debug>
                    </dev>
            </admin>
    </websites-->


</config>